<div class="page">
    
    <h3>Building Fabric</h3>
    <p>Add all the floor, roof, wall and window elements that describe your building:</p>
    
    <table class="table">
    
        <tr>
            <th>Type</th>
            <th style="text-align:left">Element Name</th>
            <th>Area<br>(m<sup>2</sup>)</th>
            <th></th>
            <th>U-value<br>(W/K.m2)</th>
            <th></th>
            <th>W/K</th>
            <th>k-value<br>(kJ/K.m2)</th>
        </tr>
        
        <tbody id="element-template" style="display:none">
            <tr>
                <td style="text-align:left">
                    <select key="data.fabric.elements.template.type" style="width:100px">
                        <option>floor</option>
                        <option>wall</option>
                        <option>roof</option>
                        <option>window</option>
                    </select>
                </td>
                
                <td style="text-align:left"><input style="text-align:left; width:150px" type="text" key="data.fabric.elements.template.name" value="Element"></td>
                
                <td><input type="text" value="0" key="data.fabric.elements.template.area" style="width:60px"/> m<sup>2</sup></td>
                <td>x</td>
                <td><input type="text" value="0" key="data.fabric.elements.template.uvalue" style="width:40px" /></td>
                <td>=</td>
                <td><span key="data.fabric.elements.template.wk" dp=1>0</span> W/K</td>
                <td><input type="text" value="0" key="data.fabric.elements.template.kvalue" style="width:40px" /></td>
            </tr>
        </tbody>
        
        <tbody id="elements"></tbody>

        <tr>
            <td style="text-align:left">
                <button id="add-element" class="btn">Add new element</button>
            </td>
            <td></th>
            <td></td>
            <td></th>
            <td></td>
            <td></td>
        </tr>
        
    </table>
    
    <table class="table">
    <tr><td>Total fabric heat loss:</td><td><span key="data.fabric.total_heat_loss_WK" dp=0>0</span> W/K</td></tr>
    <tr><td>Total fabric thermal capacity:</td><td><span key="data.fabric.total_thermal_capacity" dp=0>0</span> kJ/K.m3</td></tr>
    </table>
    
    <!--
    <pre>
        <div id="export"></div>
    </pre>
    -->
    
</div>

<script>

// Initial addition of floors
for (z in data.fabric.elements) add_element(z);

$("#add-element").click(function(){
    var size = Object.size(data.fabric.elements)+1;
    var name = "Element "+size;
    data.fabric.elements.push({type:'wall', name: name, area: 0, uvalue: 0, wk: 0});
    add_element(size-1);
    update();
});

function add_element(z)
{
    $("#elements").append($("#element-template").html());
    $("#elements [key='data.fabric.elements.template.type']").attr('key','data.fabric.elements.'+z+'.type');
    $("#elements [key='data.fabric.elements.template.name']").attr('key','data.fabric.elements.'+z+'.name');
    $("#elements [key='data.fabric.elements.template.area']").attr('key','data.fabric.elements.'+z+'.area');
    $("#elements [key='data.fabric.elements.template.uvalue']").attr('key','data.fabric.elements.'+z+'.uvalue');
    $("#elements [key='data.fabric.elements.template.kvalue']").attr('key','data.fabric.elements.'+z+'.kvalue');
    $("#elements [key='data.fabric.elements.template.wk']").attr('key','data.fabric.elements.'+z+'.wk');
}

</script>
