<div class="page">

    <div class="sub-heading">Scenarios</div>
    <p>Explore different mixes of measures by creating scenarios</p>

    <table class="table">
        <!-- style="background-color: rgba(99,86,71,0.5);" -->
        <tr>
            <td style="text-align:left"><p><b>Baseline</b><br>Energy cost: £<span key="data.total_cost"></span><br>SAP Rating: <span key="data.SAP.rating"></span></p></td>
            <td><button class="btn">Clone</td>
        </tr>
        
        <tr>
            <td style="text-align:left"><p><b>Scenario 1</b><br>Energy cost: £<span key="data.total_cost"></span></p></td>
            <td><button class="btn">Compare</td>
        </tr>
        
        <tr>
            <td style="text-align:left"><p><b>Scenario 2</b><br>Energy cost: £<span key="data.total_cost"></span></p></td>
            <td><button class="btn">Compare</td>
        </tr>
        
        <tr>
            <td style="text-align:left"><p><b>Scenario 3</b><br>Energy cost: £<span key="data.total_cost"></span></p></td>
            <td><button class="btn">Compare</td>
        </tr>
    
    </table>

</div>
