<h3>Test</h3>

<table class="table">
    <tr>
        <td>Floor area (m2)</td>
        <td><input type="text" value="0" key="data.simple.floorarea" style="width:60px" /></td>
    </tr>
    <tr>
        <td>Average storey height (m)</td>
        <td><input type="text" value="0" key="data.simple.storeyheight" style="width:60px" /></td>
    </tr>
    <tr>
        <td>Number of floors</td>
        <td><input type="text" value="0" key="data.simple.nooffloors" style="width:60px" /></td>
    </tr>
</table>
    
